.remind-dialog .mu-modal__footer .at-modal__action .at-button{
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

.remind-dialog .mu-modal__footer .at-modal__action .at-button .at-button__text{
  font-size: 28px;
}

.mu-modal--text .mu-modal__footer .at-modal__action .at-button.button-1 {
  background: #3477FF;
}

.mu-modal--text .content-text__container {
  font-size: 26px;
}

.mu-modal--text .mu-modal__footer .at-modal__action .at-button{
  margin-bottom: 10px;
}