package-lock=true
registry = http://npm.mucfc.com
@mucfc.com:registry = http://npm.mucfc.com/
@mu:registry = http://npm.mucfc.com/

sass_binary_site = http://mdp.pages.mucfc.io/mdp-common/node-cache/node-sass