$theme-default: #3477FF;
$theme-main: #f2473d;
$theme-FDZ: #000;

.fdz-theme {
  background-color: $theme-FDZ !important;
  color: #fff !important;
}
.custome-theme {
  background-color: $theme-default !important;
}